<div class="app">
  <mat-toolbar class="app__toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app__body">

    <mat-sidenav #sidenav mode="over">
      <mat-nav-list class="app__nav">
        <a mat-list-item class="app__nav-item" routerLink="/repos" routerLinkActive="active">Repos</a>
        <a mat-list-item class="app__nav-item" routerLink="/settings" routerLinkActive="active">Settings</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="app__content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
