<div class="app">
  <div class="app__nav">
    <mat-nav-list class="app__nav">
      <div mat-list-item>
        <a mat-icon-button class="app__nav-item" color="primary" routerLink="/repos" routerLinkActive="active"
           matTooltip="Repos" matTooltipPosition="right">
          <mat-icon>storage</mat-icon>
        </a>
      </div>
      <div mat-list-item>
        <a mat-icon-button class="app__nav-item" color="primary" routerLink="/settings" routerLinkActive="active"
           matTooltip="Settings" matTooltipPosition="right">
          <mat-icon>settings</mat-icon>
        </a>
      </div>
    </mat-nav-list>
  </div>

  <router-outlet></router-outlet>
</div>
