@use '@angular/material' as mat;

.start-button {
  @include mat.button-overrides((
    filled-container-color: green,
    filled-label-text-color: white,
  ));
}

.stop-button {
  @include mat.button-overrides((
    filled-container-color: darkred,
    filled-label-text-color: white,
  ));
}

.running-dot {
  height: 20px;
  width: 20px;
  border-radius: 20px;

  &.green {
    background: green;
  }
  &.yellow {
    background: yellow;
  }
}
