<div class="repo-list">

  <mat-form-field>
    <mat-label>Repo Name</mat-label>
    <input matInput [formControl]="nameFilter" spellcheck="false">
    @if (nameFilter.value) {
      <button matSuffix mat-icon-button (click)="nameFilter.reset()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <table mat-table [dataSource]="repos()" class="mat-elevation-z8">

    <ng-container matColumnDef="running">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; dataSource: repos()">
        <div class="running-dot"
             [ngClass]="{'green': element.status().state === State.running, 'yellow': element.status().state === State.starting}">
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element; dataSource: repos()"> {{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="lastModified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Modified</th>
      <td mat-cell *matCellDef="let element; dataSource: repos()">
        <!--            {{ (element.branchInfo$ | async)?.lastModified | date:'short' }}-->
        <!--      {{ (element.branchInfo$ | async)?.state | date:'short' }}-->
      </td>
    </ng-container>

    <ng-container matColumnDef="branch">
      <th mat-header-cell *matHeaderCellDef>Branch</th>
      <td mat-cell *matCellDef="let element; dataSource: repos()">
        <!--      {{ (element.branchInfo$ | async)?.branch }}-->
      </td>
    </ng-container>

    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; dataSource: repos()">
        @if (element.status().state === State.running) {
          <button mat-flat-button color="primary" class="stop-button" (click)="element.stop()">
            Stop
          </button>
        } @else {
          <button mat-flat-button color="primary" class="start-button" (click)="element.start()"
                  [disabled]="element.status().state === State.starting">
            Start
          </button>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="menu">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; dataSource: repos()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
